.artistList{
    color: #FFFFFF;
    list-style-type: none;
    border: 2px solid #1DB954;
    background-color: black;
}


.artistList li {
margin: 5px;
background-color: rgb(24, 24, 24);
}

.trackList{
    color: #FFFFFF;
    list-style-type: none;
    border: 2px solid #1DB954;
    background-color: black;
}


.trackList li {
margin: 5px;
background-color: rgb(24, 24, 24);
}

.recTracksList{
    color: #FFFFFF;
    list-style-type: none;
    border: 2px solid #1DB954;
    background-color: black;
}


.recTracksList li {
margin: 5px;
background-color: rgb(24, 24, 24);
}

tr, td {
    border-radius: 10px;
    padding: 15px;
    border: 4px solid #FFFFFF;
    width: 100%;
}

tr:hover {
    background-color: rgb(24, 24, 24);
}

.titleText {
    font-size: 70px;
    text-align: center;
}

.profileContainer {  display: grid;
    /* grid-template-columns: 1.6fr 2fr 1.5fr;
    grid-template-rows: 0.6fr 0.6fr 0.6fr 2.4fr; */
    gap: 10px;
    /* grid-auto-flow: row; */
    grid-template-areas:
      "Image Image Image"
      "followerCount DisplayName Country"
      "followerCount AccountType AccountType"
;
      background-color: #1DB954;
      padding: 10px;
  }
  .profileContainer > div {
    background-color: #000000;
    text-align: center;
    padding: 20px 0;
    font-size: 50px;
  }
  
  .profileImage { 
    grid-area: Image;
    color: #FFFFFF; }
  
  .followerCount { 
    grid-area: followerCount;
    color: #FFFFFF; }
  
  .DisplayName { 
    grid-area: DisplayName;
    color: #FFFFFF; }
  
  .AccountType { 
    grid-area: AccountType;
    color: #FFFFFF; }
  
  .Country { 
    grid-area: Country;
    color: #FFFFFF; }
  
